@charset "UTF-8";
/* ------------------------------------------- SASS Information
 Name:      style.scss
 Author:
 Update:    2015-12-14 02:20:39 +0900
 Info:
----------------------------------------------------------- */
/* -----------------------------------------------------------
 helper
----------------------------------------------------------- */
/* ------------------------------------------- SASS Information
 Name:      helper/_util.scss
 Author:
 Update:
 Info:      Util properties
----------------------------------------------------------- */
.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mt105 {
  margin-top: 105px !important;
}

.mr105 {
  margin-right: 105px !important;
}

.mb105 {
  margin-bottom: 105px !important;
}

.ml105 {
  margin-left: 105px !important;
}

.mt110 {
  margin-top: 110px !important;
}

.mr110 {
  margin-right: 110px !important;
}

.mb110 {
  margin-bottom: 110px !important;
}

.ml110 {
  margin-left: 110px !important;
}

.mt115 {
  margin-top: 115px !important;
}

.mr115 {
  margin-right: 115px !important;
}

.mb115 {
  margin-bottom: 115px !important;
}

.ml115 {
  margin-left: 115px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mr120 {
  margin-right: 120px !important;
}

.mb120 {
  margin-bottom: 120px !important;
}

.ml120 {
  margin-left: 120px !important;
}

.mt125 {
  margin-top: 125px !important;
}

.mr125 {
  margin-right: 125px !important;
}

.mb125 {
  margin-bottom: 125px !important;
}

.ml125 {
  margin-left: 125px !important;
}

.mt130 {
  margin-top: 130px !important;
}

.mr130 {
  margin-right: 130px !important;
}

.mb130 {
  margin-bottom: 130px !important;
}

.ml130 {
  margin-left: 130px !important;
}

.mt135 {
  margin-top: 135px !important;
}

.mr135 {
  margin-right: 135px !important;
}

.mb135 {
  margin-bottom: 135px !important;
}

.ml135 {
  margin-left: 135px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mr140 {
  margin-right: 140px !important;
}

.mb140 {
  margin-bottom: 140px !important;
}

.ml140 {
  margin-left: 140px !important;
}

.mt145 {
  margin-top: 145px !important;
}

.mr145 {
  margin-right: 145px !important;
}

.mb145 {
  margin-bottom: 145px !important;
}

.ml145 {
  margin-left: 145px !important;
}

.mt150 {
  margin-top: 150px !important;
}

.mr150 {
  margin-right: 150px !important;
}

.mb150 {
  margin-bottom: 150px !important;
}

.ml150 {
  margin-left: 150px !important;
}

.mt155 {
  margin-top: 155px !important;
}

.mr155 {
  margin-right: 155px !important;
}

.mb155 {
  margin-bottom: 155px !important;
}

.ml155 {
  margin-left: 155px !important;
}

.mt160 {
  margin-top: 160px !important;
}

.mr160 {
  margin-right: 160px !important;
}

.mb160 {
  margin-bottom: 160px !important;
}

.ml160 {
  margin-left: 160px !important;
}

.mt165 {
  margin-top: 165px !important;
}

.mr165 {
  margin-right: 165px !important;
}

.mb165 {
  margin-bottom: 165px !important;
}

.ml165 {
  margin-left: 165px !important;
}

.mt170 {
  margin-top: 170px !important;
}

.mr170 {
  margin-right: 170px !important;
}

.mb170 {
  margin-bottom: 170px !important;
}

.ml170 {
  margin-left: 170px !important;
}

.mt175 {
  margin-top: 175px !important;
}

.mr175 {
  margin-right: 175px !important;
}

.mb175 {
  margin-bottom: 175px !important;
}

.ml175 {
  margin-left: 175px !important;
}

.mt180 {
  margin-top: 180px !important;
}

.mr180 {
  margin-right: 180px !important;
}

.mb180 {
  margin-bottom: 180px !important;
}

.ml180 {
  margin-left: 180px !important;
}

.mt185 {
  margin-top: 185px !important;
}

.mr185 {
  margin-right: 185px !important;
}

.mb185 {
  margin-bottom: 185px !important;
}

.ml185 {
  margin-left: 185px !important;
}

.mt190 {
  margin-top: 190px !important;
}

.mr190 {
  margin-right: 190px !important;
}

.mb190 {
  margin-bottom: 190px !important;
}

.ml190 {
  margin-left: 190px !important;
}

.mt195 {
  margin-top: 195px !important;
}

.mr195 {
  margin-right: 195px !important;
}

.mb195 {
  margin-bottom: 195px !important;
}

.ml195 {
  margin-left: 195px !important;
}

.mt200 {
  margin-top: 200px !important;
}

.mr200 {
  margin-right: 200px !important;
}

.mb200 {
  margin-bottom: 200px !important;
}

.ml200 {
  margin-left: 200px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pt105 {
  padding-top: 105px !important;
}

.pr105 {
  padding-right: 105px !important;
}

.pb105 {
  padding-bottom: 105px !important;
}

.pl105 {
  padding-left: 105px !important;
}

.pt110 {
  padding-top: 110px !important;
}

.pr110 {
  padding-right: 110px !important;
}

.pb110 {
  padding-bottom: 110px !important;
}

.pl110 {
  padding-left: 110px !important;
}

.pt115 {
  padding-top: 115px !important;
}

.pr115 {
  padding-right: 115px !important;
}

.pb115 {
  padding-bottom: 115px !important;
}

.pl115 {
  padding-left: 115px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.pr120 {
  padding-right: 120px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.pl120 {
  padding-left: 120px !important;
}

.pt125 {
  padding-top: 125px !important;
}

.pr125 {
  padding-right: 125px !important;
}

.pb125 {
  padding-bottom: 125px !important;
}

.pl125 {
  padding-left: 125px !important;
}

.pt130 {
  padding-top: 130px !important;
}

.pr130 {
  padding-right: 130px !important;
}

.pb130 {
  padding-bottom: 130px !important;
}

.pl130 {
  padding-left: 130px !important;
}

.pt135 {
  padding-top: 135px !important;
}

.pr135 {
  padding-right: 135px !important;
}

.pb135 {
  padding-bottom: 135px !important;
}

.pl135 {
  padding-left: 135px !important;
}

.pt140 {
  padding-top: 140px !important;
}

.pr140 {
  padding-right: 140px !important;
}

.pb140 {
  padding-bottom: 140px !important;
}

.pl140 {
  padding-left: 140px !important;
}

.pt145 {
  padding-top: 145px !important;
}

.pr145 {
  padding-right: 145px !important;
}

.pb145 {
  padding-bottom: 145px !important;
}

.pl145 {
  padding-left: 145px !important;
}

.pt150 {
  padding-top: 150px !important;
}

.pr150 {
  padding-right: 150px !important;
}

.pb150 {
  padding-bottom: 150px !important;
}

.pl150 {
  padding-left: 150px !important;
}

.pt155 {
  padding-top: 155px !important;
}

.pr155 {
  padding-right: 155px !important;
}

.pb155 {
  padding-bottom: 155px !important;
}

.pl155 {
  padding-left: 155px !important;
}

.pt160 {
  padding-top: 160px !important;
}

.pr160 {
  padding-right: 160px !important;
}

.pb160 {
  padding-bottom: 160px !important;
}

.pl160 {
  padding-left: 160px !important;
}

.pt165 {
  padding-top: 165px !important;
}

.pr165 {
  padding-right: 165px !important;
}

.pb165 {
  padding-bottom: 165px !important;
}

.pl165 {
  padding-left: 165px !important;
}

.pt170 {
  padding-top: 170px !important;
}

.pr170 {
  padding-right: 170px !important;
}

.pb170 {
  padding-bottom: 170px !important;
}

.pl170 {
  padding-left: 170px !important;
}

.pt175 {
  padding-top: 175px !important;
}

.pr175 {
  padding-right: 175px !important;
}

.pb175 {
  padding-bottom: 175px !important;
}

.pl175 {
  padding-left: 175px !important;
}

.pt180 {
  padding-top: 180px !important;
}

.pr180 {
  padding-right: 180px !important;
}

.pb180 {
  padding-bottom: 180px !important;
}

.pl180 {
  padding-left: 180px !important;
}

.pt185 {
  padding-top: 185px !important;
}

.pr185 {
  padding-right: 185px !important;
}

.pb185 {
  padding-bottom: 185px !important;
}

.pl185 {
  padding-left: 185px !important;
}

.pt190 {
  padding-top: 190px !important;
}

.pr190 {
  padding-right: 190px !important;
}

.pb190 {
  padding-bottom: 190px !important;
}

.pl190 {
  padding-left: 190px !important;
}

.pt195 {
  padding-top: 195px !important;
}

.pr195 {
  padding-right: 195px !important;
}

.pb195 {
  padding-bottom: 195px !important;
}

.pl195 {
  padding-left: 195px !important;
}

.pt200 {
  padding-top: 200px !important;
}

.pr200 {
  padding-right: 200px !important;
}

.pb200 {
  padding-bottom: 200px !important;
}

.pl200 {
  padding-left: 200px !important;
}

.ac {
  text-align: center !important;
}

.al {
  text-align: left !important;
}

.ar {
  text-align: right !important;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.bold {
  font-weight: bold !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.vhide {
  visibility: hidden !important;
}

.vshow {
  visibility: visible !important;
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}

.blue {
  color: blue !important;
}

/* -----------------------------------------------------------
 base
----------------------------------------------------------- */
/* ------------------------------------------- SASS Information
 Name:      base/_reset.scss
 Author:
 Update:
 Info:      setting for reset style
----------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
  *zoom: 1;
}

/* ------------------------------------------- SASS Information
 Name:      base/_default.scss
 Author:
 Update:
 Info:      setting for default style
----------------------------------------------------------- */
html {
  width: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, sans-serif;
  font-size: 12px;
  line-height: 1.6;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

a, a:link, a:focus {
  color: #000;
  text-decoration: none;
}

img {
  vertical-align: bottom;
  line-height: 0;
}

textarea {
  overflow: auto;
}

label {
  cursor: pointer;
}

input:focus,
textarea:focus {
  background-color: #fff;
}

/* -----------------------------------------------------------
 layout
----------------------------------------------------------- */
/* -----------------------------------------------------------
 common layout
----------------------------------------------------------- */
/* ------------------------------------------- SASS Information
 Name:      layout/common/_wrapper.scss
 Author:
 Update:
 Info:      layout of wrapper
----------------------------------------------------------- */
#section-contents .wHover {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* ------------------------------------------- SASS Information
 Name:      layout/common/_header.scss
 Author:
 Update:
 Info:      layout of header
----------------------------------------------------------- */
#section-header {
  height: 125px;
  position: relative;
}
#section-header h1 {
  width: 300px;
  float: left;
  position: absolute;
  bottom: 10px;
}
#section-header ul {
  position: absolute;
  bottom: 5px;
  right: 0;
}
#section-header ul li {
  float: left;
  background: url("../images/bg_gnavi.gif?v=20151214022040") left no-repeat;
  text-indent: 15px;
}
#section-header ul li a {
  color: #8A390A;
}
#section-header ul li a:hover {
  text-decoration: underline;
}
#section-header ul li:nth-child(2) {
  margin-left: 10px;
}

#section-gnav {
  background: #422D18;
}
#section-gnav ul {
  text-align: center;
}
#section-gnav ul li {
  float: left;
}
#section-gnav ul li a {
  padding-top: 10px;
  background: url("../images/bg_menu.gif?v=20151214022040");
  background-position: 0px -25px;
  color: white;
  display: block;
  width: 130px;
  height: 45px;
}
#section-gnav ul li a:hover {
  background-position: 130px -25px;
}
#section-gnav ul li p:first-child + * {
  font-size: 11px;
}
#section-gnav ul li .yellow {
  color: #FFE97B;
}

/* ------------------------------------------- SASS Information
 Name:      layout/common/_footer.scss
 Author:
 Update:
 Info:      layout of footer
----------------------------------------------------------- */
.brown {
  color: #8A390A;
}

.yellow {
  color: #FFE97B;
}

#section-rTop {
  width: 153px;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}
#section-rTop a {
  background: url("../images/bg_pagetop.gif?v=20151214022040") left no-repeat;
  color: #8A390A;
  padding-left: 13px;
}

#section-footer {
  border-top: 1px dotted #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}
#section-footer ul {
  text-align: center;
  margin-bottom: 20px;
}
#section-footer ul li {
  font-size: 11.5px;
  display: inline-block;
  margin: 0 5px;
}
#section-footer ul li a {
  color: #8A390A;
}
#section-footer p {
  font-size: 9.5px;
  text-align: center;
}

/* -----------------------------------------------------------
 page layout
----------------------------------------------------------- */
/* ------------------------------------------- SASS Information
 Name:      layout/page/_index.scss
 Author:
 Update:
 Info:      index layout
----------------------------------------------------------- */
.index {
  letter-spacing: 2px;
  font-size: 12px;
  width: 780px;
  margin: 0 auto;
}
.index #section-mv #slide {
  width: 780px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}
.index #section-mv #slide img {
  position: absolute;
  left: 0;
  top: 0;
}
.index #section-content {
  padding-top: 30px;
}
.index #section-content #section-info {
  width: 380px;
  float: left;
}
.index #section-content #section-info h1 {
  color: white;
  background: #A05D5A;
  font-size: 17px;
  font-weight: bold;
  padding: 2px 0 0 5px;
  margin-bottom: 10px;
  border-bottom: 4px solid #864A47;
}
.index #section-content .article {
  border-bottom: dotted 1px #ccc;
  padding: 10px 0;
}
.index #section-content .article .fL {
  float: left;
  text-align: center;
  letter-spacing: 1px;
  width: 100px;
}
.index #section-content .article .fR {
  float: right;
  width: 280px;
}
.index #section-content .article a {
  color: #8A390A;
}
.index #section-content #section-aside {
  float: right;
  width: 390px;
}

/* ------------------------------------------- SASS Information
 Name:      layout/page/_example.scss
 Author:
 Update:
 Info:      example layout
----------------------------------------------------------- */
.example {
  letter-spacing: 2px;
  font-size: 12px;
  width: 780px;
  margin: 0 auto;
}
.example #section-mv {
  background: url("../images/icatch4.png?v=20151214022040") no-repeat;
}
.example #section-gnav ul li:first-child + * a {
  background-position: 130px -10px;
}
.example #section-contents {
  margin-top: 30px;
}
.example #section-contents #lMenu {
  width: 200px;
  float: left;
}
.example #section-contents #lMenu h4 {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
.example #section-contents #lMenu ul li a {
  color: #8A390A;
  border-bottom: 1px dotted #8A390A;
  background: url("../images/bg_list.gif?v=20151214022040") no-repeat left;
  padding: 5px 0 5px 10px;
  display: block;
}
.example #section-contents #main {
  width: 550px;
  float: right;
}
.example #section-contents #main a {
  color: #7B3B38;
}
.example #section-contents #main h2 {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 16px;
  color: #7B3B38;
  border-bottom: 4px solid #7B3B38;
  line-height: 18px;
}
.example #section-contents #main p {
  margin-bottom: 1em;
}
.example #section-contents #main .borderB {
  border-bottom: 1px dotted #7B3B38;
}
.example #section-contents #main .mb0 {
  margin-bottom: 0;
}
.example #section-contents #main .bgBeige {
  background: #ffeee9;
}
.example #section-contents #main .mark {
  background: url("../images/bg_list.gif?v=20151214022040") no-repeat left;
  padding: 5px 0 5px 10px;
}
.example #section-contents #main h3 {
  color: #7B3B38;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  padding-left: 5px;
  border-left: 7px solid #7B3B38;
  margin-bottom: 1px;
}
.example #section-contents #main ul {
  margin: 10px 0 10px 20px;
}
.example #section-contents #main ul + p {
  margin-left: 40px;
}
.example #section-contents #main .mb1em {
  margin-bottom: 1em;
}
.example #section-contents #main .dBlock {
  display: block;
}
.example #section-contents #main .bgBr {
  color: white;
  background: #7B3B38;
  width: 100%;
}
.example #section-contents #main .disc {
  list-style-type: disc;
  list-style-position: inside;
}
.example #section-contents #main .decimal {
  list-style-type: decimal;
  list-style-position: inside;
}
.example #section-contents #main table thead tr td {
  background: #FF7800;
  width: 105px;
  height: 30px;
  color: white;
  font-weight: bold;
  border: 1px solid #ccc;
  padding-left: 5px;
}
.example #section-contents #main table tbody tr td {
  padding-left: 5px;
  height: 30px;
  border: 1px solid #ccc;
}
