body {
	font-family: Meiryo;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #333;
}
a { text-decoration: none; color: #333; }
.w940 { width: 940px; margin: 0 auto; }


.slick-slide {
	opacity: 0.5;
}
.slick-center {
	opacity: 1;
}
.slick-prev,
.slick-next {
  position: absolute;
  height: 60px;
  width: 50px;
  line-height: 0;
  font-size: 40px;
  font-family: Euphemia;
  font-weight: bold;
  cursor: pointer;
  color: white;
  top: 50%;
  padding: 0;
  border: none;
  background: black;
  opacity: 0.3;
}
.slick-prev {
  left: 50%;
  margin-top: -5px;
  margin-left: -530px;
}
.slick-next {
  right: 50%;
  margin-top: -5px;
  margin-right: -530px;
}
.slick-prev:hover,.slick-next:hover{
	opacity: 0.5;
}
.slick-prev:focus,.slick-next:focus{
	outline: none;
}

/* Dots */

.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    /*margin: 0 5px;*/
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '●';
    text-align: center;
    opacity: .25;
  	color: rgba(0,0,0,0.5);

}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #66cdaa;
}



/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
	ヘッダー
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#container #header {
	height: 82px;
	overflow: hidden;
}
#container #header #headnav {
	float: left;
	margin-top: 30px
}
#container #header #headnav li:first-child {
	margin-right: 320px;
}
#container #header #headnav li {
	float: left;
	margin-right: 30px;
}
#container #header #headnav a {
	font-size: 98%;
	font-weight: bold;
	line-height: 31px;
}
#container #header #headnav a:hover{
	border-bottom: 3px solid #968232;
}
#container #header #headnav #logo a:hover{
	border-bottom: 0px;
}
#container #header #headnav #logo a {
	display: block;
	width: 262px;
	height: 22px;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat;
}

#container #header #headnav #blog {
	margin-right: 0px;
}

/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
	メインビジュアル
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#container #main {
	position:relative;
	height: 300px;

	margin-bottom: 55px;
}
#container #main #slider {
	/*position: absolute;*/
}
#container #main #slider .item{
  margin: 3px;
}

#container #main #slider img{
  margin: 0 5px;
}

/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
	ピックアップ
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#container #topic {
	overflow: hidden;
	margin-bottom: 20px;
}
#container #topic .section .abstract a:hover {	color: #917700; text-decoration: underline;}
#container #topic .section{
	float: left;
}
#container #topic #staff{
	margin: 0 23px;
}
#container #topic .section h2 {
	background: #66cdaa;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
#container #topic .abstract {
	position: relative;
	width: 282px;
	height: 160px;
	border: solid 1px #ccc;
	border-top: 0px;
	padding: 10px 7px;
}
#container #topic .section .abstract  a{
	position: absolute;
	right: 7px;
	bottom: 10px;
}
#container #topic .section img {
	margin-bottom: 5px;
}

/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
	コンテンツ右側
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#container #contents a:hover {	color: #917700; text-decoration: underline;}
#container #contents #right {
	overflow: hidden;
	float: right;
	width: 600px;
}
#container #contents #right  h2{
	padding-bottom: 8px;
	border-bottom: 1px dotted #968232;
	font-size: 20px;
	color: #968232;
}
#container #contents #right #info {
	margin-bottom: 50px;
}
#container #contents #right #info li {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
#container #contents #right #menu {

}
#container #contents #right #menu .section h3{
	font-size: 18px;
	font-weight: bold;
	padding: 15px 0;
}
#container #contents #right #menu .section li{
	margin-left: 28px;
	list-style-type: disc;
}
#container #contents #right #menu .section .pickup{
	border: solid 10px #F3F3F3;
	padding: 10px;
	margin-top: 10px;
}
#container #contents #right #menu .section .pickup h3{
	margin-bottom: 10px;
	padding: 0px;
}
#container #contents #right #menu .section .pickup img{
	float: left;
	margin-right: 10px;
}
#container #contents #right #banner{
	margin-top: 20px;
}
#container #contents #right #banner li{
	float: left;
}
#container #contents #right #banner #center{
	margin: 0 15px;
}
/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
	コンテンツ左側
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#container #left {
	float: left;
	width: 300px;
}
#container #left #menu h2{
	font-size: 17px;
	color: #fff;
	line-height: 45px;
	text-align: center;
	background: #F1A2A2;
	margin-bottom: 10px;
}
#container #left #menu .section {
	margin-bottom: 30px;
}
#container #left #menu h3{
	background: #F3F3F3;
	line-height: 45px;
	padding-left: 10px;
}
#container #left #menu li {
	background: url(../images/bg_arrow.gif) no-repeat left;
	margin-left: 10px;
	padding-left: 8px;
	line-height: 39px;
	border-bottom: 1px dotted #ccc;
}
#container #contents #left  #banner  {
	border: 1px solid #ccc;
	padding: 10px;
}
#container #contents #left #banner li {
	background: #F3F3F3;
	padding: 10px;
}
#container #contents #left #banner  li:first-child {
	margin-bottom: 10px;
}
/*
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
	フッター
_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
*/
#container #footer {
	border-top: solid 1px #ccc;
	margin-top: 60px;
	padding-top: 20px;
}
#container #footer ul {
	width: 352px;
	margin: 0 auto;
}
#container #footer ul li {
	float: left;
	margin-right: 30px;
}
#container #footer ul li a {
	font-size: 90%;
}
#container #footer ul li a:hover {
	color: #917700;
	text-decoration: underline;
}
#container #footer ul #blog {
	margin: 0;
}
#container #footer p {
	font-size: 12px;
	color: #ccc;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 10px;
}